html,
body,
header,
.view { height: 100%; }

.view {

	background: url("../img/laptop-bg.jpg")no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}

.flex-center { color: #fff; }

#map-container { height: 300px }